
<!--Dashboard - Left Column -->
<div class="col m6">

      <h4 class="grey-text text-darken-4" style="font-family: 'Lato', sans-serif;"><span style="font-weight: 300;">Ideas</span></h4>
      <!-- ========== IDEA CARD ========== -->
      <div class="card horizontal hoverable" id="ideaCard">
        <div class="card-stacked">
          <div class="card-content">
            <p class="header">Card</p>
            <p>I am a very simple card. I am good at containing small bits of information.</p>
          </div>
          <div class="card-action">
            <a href="#" class="red-text">This is a link</a>
          </div>
        </div>
      </div>
      <!-- ========== IDEA CARD ========== -->
      <div class="card horizontal hoverable" id="ideaCard">
        <div class="card-stacked">
          <div class="card-content">
            <p class="header">Card</p>
            <p>I am a very simple card. I am good at containing small bits of information.</p>
          </div>
          <div class="card-action">
            <a href="#" class="red-text">This is a link</a>
          </div>
        </div>
      </div>

    </div>