<!-- Main Dashboard Window Handlebars -->
 <div class="container">
    <div class="row">&nbsp;</div> <!-- === VERTICAL SPACER === -->
    <div class="row">
        <div class="col s10 offset-s2">

          <table class="highlight bordered">
            <thead>
              <tr><h5 class="red-text" style="font-family: 'Lato', sans-serif;"><span style="font-weight: 300; text-transform: uppercase;">Your Projects</span></h5></tr>
            </thead>
            <thead class="grey white-text">
              <tr>
                  <th data-field="id">&nbsp;Name</th>
                  <th data-field="name">&nbsp;GitHub</th>
                  <th data-field="price">&nbsp;Technologies</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>In Query</td>
                <td>github.com/learningJS</td>
                <td>Javascript/jQuery</td>
              </tr>
              <tr>
                <td>By the Straps</td>
                <td>github.com/portfolio</td>
                <td>HTML/CSS/Bootstrap</td>
              </tr>
              <tr>
                <td>Catch Me Outside</td>
                <td>github.com/howBoutThat</td>
                <td>Javascript/Node/MySQL</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  <div class="container">
    <div class="row">&nbsp;</div> <!-- === VERTICAL SPACER === -->
    <div class="row">
        <div class="col s10 offset-s2">

          <table class="highlight bordered">
            <thead>
              <tr><h5 class="red-text" style="font-family: 'Lato', sans-serif;"><span style="font-weight: 300; text-transform: uppercase;">Your Technologies</span></h5></tr>
            </thead>
            <thead class="grey white-text">
              <tr>
                  <th data-field="id">&nbsp;Logo</th>
                  <th data-field="name">&nbsp;Name</th>
                  <th data-field="price">&nbsp;Documentation</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><img src="./images/html.png" width="40px"/></td>
                <td>HTML/CSS</td>
                <td>Link</td>
              </tr>
              <tr>
                <td><img src="http://travistidwell.com/presentations/javascript-essentials/images/javascript_logo.png" width="40px"/></td>
                <td>Javascript</td>
                <td>Link</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
