<!-- Main Dashboard Window Handlebars -->
 <div class="container">
    <div class="row">&nbsp;</div> <!-- === VERTICAL SPACER === -->
    <div class="row">
        <div class="col s10 offset-s2">

          <table class="highlight bordered">
            <thead>
              <tr><h5 class="red-text" style="font-family: 'Lato', sans-serif;"><span style="font-weight: 300; text-transform: uppercase;">Your Projects</span></h5></tr>
            </thead>
            <thead class="grey white-text">
              <tr>
                  <th data-field="id">&nbsp;Name</th>
                  <th data-field="name">&nbsp;GitHub</th>
                  <th data-field="price">&nbsp;Technologies</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>1</td>
                <td>github.com/###</td>
                <td>HTML/CSS</td>
              </tr>
              <tr>
                <td>2</td>
                <td>github.com/###</td>
                <td>HTML/CSS</td>
              </tr>
              <tr>
                <td>3</td>
                <td>github.com/###</td>
                <td>HTML/CSS</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  <div class="container">
    <div class="row">&nbsp;</div> <!-- === VERTICAL SPACER === -->
    <div class="row">
        <div class="col s10 offset-s2">

          <table class="highlight bordered">
            <thead>
              <tr><h5 class="red-text" style="font-family: 'Lato', sans-serif;"><span style="font-weight: 300; text-transform: uppercase;">Your Technologies</span></h5></tr>
            </thead>
            <thead class="grey white-text">
              <tr>
                  <th data-field="id">&nbsp;Logo</th>
                  <th data-field="name">&nbsp;Name</th>
                  <th data-field="price">&nbsp;Documentation</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><img src="./images/html.png" width="40px"/></td>
                <td>HTML</td>
                <td>Link</td>
              </tr>
              <tr>
                <td><img src="./images/css.png" width="40px"/></td>
                <td>CSS</td>
                <td>Link</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
