  <main>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">

      <div class="row">&nbsp;</div> <!-- === VERTICAL SPACER === -->

      <div class="card">
      <div class="container">
        <div class="row">&nbsp;</div> <!-- === VERTICAL SPACER === -->
          <div class="header center red-text"><span style="font-family: 'Lato', sans-serif; color: black; font-weight: 200;">CODE</span><span style="color: red; font-weight: 300;">SPIRATION</span></div>
          <h3 class="header center red-text" style="font-family: 'Lato', sans-serif;"><span style="font-weight: 400;">Forum</span></h3>

          <div class="row">
            <div class="col s12" style="border-style: solid; border-color: #e6e6e6;">
              Forum Messages should appear here...
            </div>
          </div>

          <div class="row">&nbsp;</div> <!-- === VERTICAL SPACER === -->

          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="forum-messenger" class="materialize-textarea" data-length="120"></textarea>
                  <label for="forum-messenger">Type A Message</label>
                  <button class="btn red right" style="margin-left: 20px;">Post</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      <div class="row">&nbsp;</div> <!-- === VERTICAL SPACER === -->

      </div>

    </div>
    
  </div>
  </main>