<!-- Generator Modal Window - Handlebars -->
  <div id="generatorModal" class="modal">
    <div class="modal-content">
      <h5 class="red-text" style="font-family: 'Lato', sans-serif; color: black; font-weight: 300; text-transform: uppercase;">The Coding Overlords have spoken...</h5>
      <p>This is where their selection should render...</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat">Accept</a>
    </div>
  </div>