
<main>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row">&nbsp;</div>
      <!-- === VERTICAL SPACER === -->
      
      <div class="center_section" style="border-color: black; border-style: solid; margin-left: 10%; margin-right: 10%; padding-left: 5%; padding-right: 5%;">
        <div class="row">&nbsp;</div>
        <!-- === VERTICAL SPACER === -->
        <div class="header center red-text"><span style="font-family: 'Lato', sans-serif; color: black; font-weight: 200;">CODE</span><span style="color: red; font-weight: 300;">SPIRATION</span></div>
        <h1 class="header center red-text" style="font-family: 'Lato', sans-serif;"><span style="font-weight: 400;">Idea Generator</span></h1>
        <div class="row center">
          <h5 class="header col s12 light">Need some inspiration for your next coding project?<br>
            <b>Well, Let's get pickin'!</b></h5>
        </div>
        <div class="row">&nbsp;</div>
        <!-- === VERTICAL SPACER === -->
        
        <div class="row center"> <a href="#" type="submit" name="action" class="btn-large waves-effect waves-light red">eenie meenie miney mo!</a> </div>
        <div class="row">&nbsp;</div>
        <!-- === VERTICAL SPACER === --> 
        
      </div>
    </div>
  </div>
</main>
