  <header>
  <nav class="black" role="navigation">
    <div class="nav-wrapper container">

    <a id="logo-container" href="/" class="brand-logo" style="font-family: 'Lato', sans-serif;"><span style="font-weight: 200;">CODE</span><span style="color: red; font-weight: 300;">SPIRATION</span></a>

      <ul class="right hide-on-med-and-down">
        <li><a href="/dashboard">Dashboard</a></li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li><a href="/submissions">Submissions</a></li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li><a href="/forum">Forum</a></li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="/generator">Generator</a></li>
      </ul>
    
    </div>
  </nav>
  </header>
    {{> signupModal }}
	{{> signinModal }}