<header>
  <nav class="black" role="navigation">
    <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo" style="font-family: 'Lato', sans-serif;"><span style="font-weight: 200;">CODE</span><span style="color: red; font-weight: 300;">SPIRATION</span></a>

      <ul class="right hide-on-med-and-down">
        <li><button data-target="signUpModal" class="btn grey" id="modal-trigger">Sign-Up</button></li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li><button data-target="signInModal" class="btn black" id="modal-trigger">Sign-In</button></li>
      </ul>

      <!-- <ul class="right hide-on-med-and-down">
        <li><a href="#">About</a></li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li><a href="#">FAQ</a></li>
      </ul> -->

      <!-- <ul id="nav-mobile" class="side-nav">
        <li><a href="#">CHANNEL</a></li>
      </ul>

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">MENU</i></a> -->
    
    </div>
  </nav>
  </header>