<!-- SideBar Pull Out Handlebar Partial -->
  <ul id="slide-out" class="side-nav fixed" style="z-index: -1; padding-top: 60px;">
    <li><div class="userView">
      <div class="background">
        <img src="images/dash-bg.jpg">
      </div>
      <a href="#!user"><img class="circle" src="images/olivia.jpg"></a>
      <a href="#!name"><span class="white-text name" style="font-family: 'Lato', sans-serif; font-weight: 400; text-transform: uppercase;">Olivia Harris</span></a>
      <a href="#!username"><span class="white-text email" style="font-family: 'Lato', sans-serif; font-weight: 300;">@livhvrris</span></a>
    </div></li>
  </ul>