<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>User Dashboard - CODESPIRATION</title>
{{> styles}}
</head>

<body>
{{> navMenu }}
<main>
{{> sidebar }}
{{> dashboardMain }}
	</main>
{{> footer }}
{{> scripts }}
</body>
</html>
