<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Idea Generator - CODESPIRATION</title>
{{> styles}}
</head>

<body>
{{> navMenu }}
{{> generatorHero }}
{{{body}}}
{{> footer }}
{{> scripts }}
</body>
</html>
