<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>User Submission - CODESPIRATION</title>
{{> styles}}
</head>

<body>
{{> navMenu }}
{{> userSubmit }}
{{{body}}}
{{> footer }}
{{> scripts }}
</body>
</html>
