/* Sticky Footer */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

#ideaCard {
  width: 400px;
}


/* label color */
/*.input-field label {
 color: #000;
}*/
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #8bc34a;
 box-shadow: 0 1px 0 0 #8bc34a;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid red;
 box-shadow: 0 1px 0 0 red;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #000;
}